<ion-content>
  <app-chat-tab *ngFor="let item of chatTabs" [chat]="item" (click)="presentModal(item)"></app-chat-tab>
</ion-content>

<!-- <ion-content>
  <ion-grid>
    <ion-row *ngFor="let msg of messages">
      <ion-col offset="3" size="9" class="demandeur" *ngIf="msg.auteur===undefined">
        <b>{{msg.detail}}</b>
        <br>
        <div class="date" text-right>{{msg.date}}</div>
      </ion-col>

      <ion-col size="9" class="conseille" *ngIf="msg.auteur!==undefined">
        <b>{{msg.detail}}</b>
        <br>
        <div class="date" text-right>{{msg.date}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="align-items-center" ion-no-padding>
      <ion-col size="10">
        <textarea autosize maxRow="3" [(ngModel)]="newMsg" class="msg-input"></textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn" (click)="sendMessage()">
          <ion-icon name="ios-send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->
