<ion-header>
  <ion-toolbar>
    <ion-title>Se connecter</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()" class="my-style-for-modal">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list class="ion-margin">
    <form [formGroup]="loginForm">
      <ion-item class="ion-margin">
        <ion-label position="stacked">Nom d'utilisateur</ion-label>
        <ion-input formControlName="login" type="text"></ion-input>
      </ion-item>
      <ion-item class="ion-margin">
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-button [disabled]="!loginForm.valid" expand="block" (click)="connection()">Connexion</ion-button>
    </form>
  </ion-list>
</ion-content>

