<ion-card>
    <ion-grid>
      <ion-card-content>
        <div>
          <ion-card-subtitle class="nom">{{chat.interlocuteur}}</ion-card-subtitle>
          <ion-text class="dateHeure">{{chat.date}}</ion-text>
        </div>
        <br>
        <br>
          <div >
              <ion-avatar class="photo">
                  <img src="{{chat.imageProfil}}">
              </ion-avatar>
          </div>
        <div>
          <ion-card-title class="msg">{{chat.message}}</ion-card-title>
          <ion-text class="nbMsg">{{chat.nbMsgNonLu}}</ion-text>
        </div>
      </ion-card-content>
    </ion-grid>

</ion-card>
