.dateHeure {
  display: inline-block;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: right;
}

.nbMsg {
  display: inline-block;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 15px;
  margin-bottom: 5px;
  margin-right: 5px;
  float: right;
}

.photo {
  display: inline-block;
  float: left;
  width: 3%;
  height: 3%;
}

.msg {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  margin-left: 5px;
}

.nom {
  display: inline-block;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 15px;
  float: left;
}

