<ion-header>
    <ion-toolbar>
        <ion-title>S'inscrire</ion-title>
        <ion-buttons slot="start">
            <ion-button (click)="dismissModal()" class="my-style-for-modal">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="">
    <ion-list class="ion-margin">
        <form [formGroup]="registerForm">
            <ion-item class="ion-margin">
                <ion-label position="stacked">Nom d'utilisateur</ion-label>
                <ion-input formControlName="login" type="text"></ion-input>
            </ion-item>
            <ion-item class="ion-margin">
                <ion-label position="stacked">Mot de passe</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <ion-item class="ion-margin">
                <ion-label position="stacked">Confirmer son mot de passe</ion-label>
                <ion-input formControlName="confirmPassword" type="password"></ion-input>
            </ion-item>
            <div class="errorMessages">
                <ng-container *ngFor="let error of errorMessages.confirmPassword">
                    <div class="errorMessage"
                         *ngIf="registerForm.get('confirmPassword').hasError(error.type) && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
                        {{error.message}}
                    </div>
                </ng-container>
            </div>
            <ion-item class="ion-margin">
                <ion-label position="stacked">Id photo</ion-label>
                <ion-input formControlName="photoId" type="number"></ion-input>
            </ion-item>
            <ion-button [disabled]="!registerForm.valid" expand="block" (click)="register()">S'inscrire</ion-button>
        </form>
    </ion-list>
</ion-content>
