<ion-header>
  <ion-toolbar>
    <ion-title>
      JeanCloud
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=PLahKLy8pQdCM0SiXNn3EfGIXX19QGzUG3">
    <ion-img src="assets/JeanCloud.svg"></ion-img>
  </a>
  <div *ngIf="(this.currentQuestion.asObservable() | async).possible_answer; else unFinished">
      <ion-card *ngFor="let question of (this.currentQuestion.asObservable() | async).possible_answer">
          <ion-card-subtitle>
            {{question[0]}}
          </ion-card-subtitle>
          <ion-card-content>
            {{question[1]}}
          </ion-card-content>
        </ion-card>
        <button class="btn btn-outline" [routerLink]="['/tabs/chat']" routerLinkActive="router-link-active">Contacter quelqu'un</button>
  </div>
  <ng-template #unFinished>
    <ion-card>
      <ion-card-content>
        {{(currentQuestion.asObservable() | async).question}}
      </ion-card-content>
    </ion-card>
    <div class="answers">
      <button class="btn btn-outline" (click)="submit(true)">
          Oui
      </button>
      <button class="btn btn-outline" (click)="submit(false)">
          Non
      </button>
    </div>
  </ng-template>
</ion-content>
