<ion-content fullscreen>
    <div *ngIf="userIsConnected()">
        <ion-list>
            <ion-avatar slot="start" class="ion-margin">
                <img src="https://pbs.twimg.com/profile_images/481825416219353090/M03bSvA4_400x400.png">
            </ion-avatar>
            <ion-item>
                <ion-label>
                    <h2>{{user.login}}</h2>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="!userIsConnected()">
        <ion-button (click)="connect()">Se connecter</ion-button>
        <ion-button (click)="register()">S'inscrire</ion-button>
    </div>
</ion-content>
