<ion-header>
  <div class="head">
    <ion-buttons>
      <ion-button fill="clear" (click)="modalController.dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-avatar><img  src="assets/JeanCloud.svg"/></ion-avatar>
    <ion-title>{{chat.interlocuteur}}</ion-title>
  </div>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngFor="let msg of messages">
          <ion-col offset="3" size="9" class="demandeur" *ngIf="msg.auteur===undefined">
            <b>{{msg.detail}}</b>
            <br>
            <div class="date" text-right>{{msg.date}}</div>
          </ion-col>
    
          <ion-col size="9" class="conseille" *ngIf="msg.auteur!==undefined">
            <b>{{msg.detail}}</b>
            <br>
            <div class="date" text-right>{{msg.date}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>

<ion-footer>
  <div style="display: flex;">
        <input [(ngModel)]="newMsg" class="msg-input"/>
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg === ''" class="msg-btn" (click)="sendMessage()">
          <ion-icon name="ios-send" slot="icon-only"></ion-icon>
        </ion-button>
  </div>
</ion-footer> 
